/* For å få hovedbilde på header*/
header.mainImage {}

/* css-koden fremviser hovedbilde blir plassert på header. Bildet er hentet fra 
https://www.pexels.com/photo/silhouette-of-person-standing-near-camping-tent-2398220/*/
.mainImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -3;
}
/* Koden fremviser possisjoneringen til UTlogoen*/
.UTlogo {
    position: absolute;
    top:0;
    left: 0;
    margin-left: 1vw;
    margin-top: 2vh;
    width: 9%;
    border-radius: 10px;
    cursor: pointer;
}
/* hele .navbar koden viser endringer og opprettelsen av nav bar. 
kilden hentet fra: https://www.youtube.com/watch?v=f3uCSh6LIY0*/
.navbar ul {
    list-style-type: none;
    padding:0;
    padding-bottom: 5vh;
    margin:0vw;
    margin-left: 8vw;
    overflow: hidden;
    
}
.navbar a {
    color:white;
    font-family: Lato, sans-serif;
    font-weight:500;
    font-size: 1rem;
    text-decoration:none;
    padding: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: block; 
    text-align: center;
    border-radius: 5px;
    margin-top: 1vh;
}
/* Css-koden viser hover effect til menu baren når du hoverer over den*/
.navbar a:hover {
    background-color: rgba(0, 255, 170, 0.271);
    text-decoration: underline;
    transition: all 0.3s;
}
/*her blir fokuset på å gjøre nav-bar flot og possisjonering*/
.navbar li {
    float: right;
    margin-top: 1vh;
    margin: 0.5px;
}
/* endring på h1 og font*/
h1 {
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 9vh;
}
/* her er bare endring på fargen til author*/
.author {
    color: white;
} 

body {
    margin: 1vw;
    padding: 0;
}

.image1 {
    position: relative;
    width: 40%;
    float: right;
    margin-top: 20vh;
    padding-bottom: 400px;
    border-style: solid;
    border-color: coral;
}
article {
  margin-top: 80vh;
  margin-right: 39vw;
  border-style:solid;
  border-color: rgb(55, 0, 255);

}

h2 {
    border-style: solid;
    border-color: coral;
    font-weight: 600;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    border-style:solid;
    border-color: coral;

}
/*
p {
    font-weight: 400;
    font-size: 1rem;
    font-family: Lato, sans-serif;
    border-style: solid;
    border-color: coral;
    line-height: 1.5;

}
