body {
    margin: 0px;
}
header {
    background-color: #00eeff;
    padding-top: 20px;
}
.logo {
    width: 200px;
    margin-left: 20vw;
    position: relative;
    display: inline;
}
.search {
    display: block;
    float: right;
    margin-right: 50px;
}
.dropDown {
    position: relative;
    float: right;
    margin-right: 20vw;
}
.dropDownButton {
    background-color: #3c0064;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border: none;
}
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropDownContent a:hover {
    background-color: #ddd;
}
.dropDown:hover .dropDownContent {
    display: block;
}
h1 {
    margin-left: 20vw;
}
p {
    margin-left: 20vw;
    margin-right: 20vw;
}
footer {
    background-color: #00eeff;
    padding-top: 20px;
    padding-bottom: 500px;
}
.footerTitle {
    margin-left: 20vw;
    display: inline-block;
    width: 20rem;
}
.nyhetsBrev {
    float: right;
    margin-right: 20vw;
    margin-top: 35px;
}
.logoFooter {
    margin-left: 20vw;
    width: 400px;
}
.footerLine {
    margin-bottom: 80px;
}
.addressTlf {
}
.link {
    color: black;
    font-style: italic;
    margin-left: 20vw;
}
.footerNavigationLinks {
    float: right;
    margin-right: 20vw;
    margin-top: -10vw;
}
.linkTo {
    color: black;
    font-style: italic;
}